<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:minWidth="25px"
    android:minHeight="25px">
    <android.support.v7.widget.Toolbar
        android:id="@+id/app_bar"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="?attr/actionBarSize"
        android:background="@color/colorAccent"
        android:theme="@style/CarrierUserTheme">
        <ImageView
            android:id="@+id/btnBack_Order"
            android:layout_width="50dp"
            android:layout_height="50dp"
            android:src="@drawable/ic_back"
            android:scaleType="centerInside"
            android:tint="#ffffffff" />
        <TextView
            android:id="@+id/txtTitle"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:gravity="center"
            android:textSize="20dp"
            android:textColor="#ffffffff"
            android:text="Đăng đơn hàng"
            android:layout_marginRight="26.0dp" />
    </android.support.v7.widget.Toolbar>
    <ScrollView
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_marginTop="25dp"
        android:layout_marginBottom="25dp"
        android:layout_marginLeft="25dp"
        android:layout_marginRight="25dp">
        <LinearLayout
            android:orientation="vertical"
            android:layout_width="fill_parent"
            android:layout_height="fill_parent">
            <RelativeLayout
                android:layout_width="fill_parent"
                android:layout_height="fill_parent">
                <TextView
                    android:text="Loại xe"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtLoaiXe"
                    android:padding="@dimen/padding_card_horizoltal" />
                <Spinner
                    android:layout_alignParentRight="true"
                    android:padding="5dp"
                    android:entries="@array/type_list"
                    android:layout_height="wrap_content"
                    android:layout_width="wrap_content"
                    android:id="@+id/CarType"
                    android:layout_gravity="left" />
            </RelativeLayout>
            <AutoCompleteTextView
                android:hint="Điểm đi"
                android:id="@+id/txtDiemDi"
                android:inputType="text"
                android:layout_marginTop="@dimen/padding_card_horizoltal"
                android:background="@color/colorEditText"
                android:drawablePadding="@dimen/padding_card_horizoltal"
                android:maxLines="1"
                android:padding="@dimen/padding_edittext"
                android:textColor="@android:color/black"
                android:textColorHint="@android:color/black"
                android:textSize="@dimen/text_size_medium"
                android:layout_height="wrap_content"
                android:layout_width="match_parent" />
            <AutoCompleteTextView
                android:hint="Điểm đến"
                android:id="@+id/txtDiemDen"
                android:inputType="text"
                android:layout_marginTop="@dimen/padding_card_horizoltal"
                android:background="@color/colorEditText"
                android:drawablePadding="@dimen/padding_card_horizoltal"
                android:maxLines="1"
                android:padding="@dimen/padding_edittext"
                android:textColor="@android:color/black"
                android:textColorHint="@android:color/black"
                android:textSize="@dimen/text_size_medium"
                android:layout_height="wrap_content"
                android:layout_width="match_parent" />
            <EditText
                android:layout_width="match_parent"
                android:layout_height="40dp"
                android:hint="Tên hàng"
                android:id="@+id/TxtItems"
                android:layout_marginTop="@dimen/padding_card_horizoltal"
                android:background="@color/colorEditText"
                android:drawablePadding="@dimen/padding_card_horizoltal"
                android:maxLines="1"
                android:padding="@dimen/padding_edittext"
                android:textColor="@android:color/black"
                android:textColorHint="@android:color/black"
                android:textSize="@dimen/text_size_medium" />
            <EditText
                android:layout_width="match_parent"
                android:layout_height="40dp"
                android:id="@+id/TxtPhonenumber"
                android:inputType="phone"
                android:hint="Số điện thoại liên hệ bốc dỡ hàng"
                android:layout_marginTop="@dimen/padding_card_horizoltal"
                android:background="@color/colorEditText"
                android:drawablePadding="@dimen/padding_card_horizoltal"
                android:maxLines="1"
                android:padding="@dimen/padding_edittext"
                android:textColor="@android:color/black"
                android:textColorHint="@android:color/black"
                android:textSize="@dimen/text_size_medium" />
            <EditText
                android:layout_width="match_parent"
                android:layout_height="40dp"
                android:id="@+id/TxtUserContact"
                android:inputType="text"
                android:hint="Người liên hệ"
                android:layout_marginTop="@dimen/padding_card_horizoltal"
                android:background="@color/colorEditText"
                android:drawablePadding="@dimen/padding_card_horizoltal"
                android:maxLines="1"
                android:padding="@dimen/padding_edittext"
                android:textColor="@android:color/black"
                android:textColorHint="@android:color/black"
                android:textSize="@dimen/text_size_medium" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent">
                    <TextView
                        android:text="Thời gian đi"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:drawableRight="@drawable/ic_date_range_black_18dp"
                        android:layout_marginRight="25dp"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginTop="20dp"
                        android:drawablePadding="10dp"
                        android:id="@+id/viewFromDate" />
                    <TextView
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/TxtDateFrom"
                        android:layout_marginRight="25dp"
                        android:layout_marginTop="10dp" />
                    <TextView
                        android:text="Thời gian đến"
                        android:drawableRight="@drawable/ic_date_range_black_18dp"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_marginRight="25dp"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginTop="20dp"
                        android:drawablePadding="10dp"
                        android:id="@+id/viewToDate" />
                    <TextView
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/txtDateTo"
                        android:layout_marginRight="25dp"
                        android:layout_marginBottom="10dp"
                        android:layout_marginTop="10dp" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:minWidth="25px"
                    android:minHeight="25px"
                    android:layout_width="fill_parent"
                    android:layout_height="fill_parent"
                    android:layout_marginLeft="25dp">
                    <TextView
                        android:text="Giờ đi"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:drawableRight="@drawable/ic_time"
                        android:layout_marginRight="25dp"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginTop="20dp"
                        android:drawablePadding="10dp"
                        android:id="@+id/viewFromTime" />
                    <TextView
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/TxtTimeFrom"
                        android:layout_marginRight="25dp"
                        android:layout_marginTop="10dp" />
                    <TextView
                        android:text="Giờ đến"
                        android:drawableRight="@drawable/ic_time"
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:layout_marginRight="25dp"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginTop="20dp"
                        android:drawablePadding="10dp"
                        android:id="@+id/viewToTime" />
                    <TextView
                        android:layout_width="match_parent"
                        android:layout_height="wrap_content"
                        android:id="@+id/txtTimeTo"
                        android:layout_marginRight="25dp"
                        android:layout_marginBottom="10dp"
                        android:layout_marginTop="10dp" />
                </LinearLayout>
            </LinearLayout>
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:text="Kích thước thùng(m3): Dài x Rộng x Cao"
                android:padding="@dimen/padding_edittext"
                android:layout_marginBottom="10dp"
                android:textSize="@dimen/text_size_medium" />
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="match_parent"
                android:layout_height="wrap_content">
                <EditText
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtLenght"
                    android:hint="Chiều dài"
                    android:padding="@dimen/padding_edittext"
                    android:background="@color/colorEditText"
                    android:inputType="number"
                    android:textSize="@dimen/text_size_medium"
                    android:gravity="center"
                    android:lines="2" />
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text=" X "
                    android:textSize="@dimen/text_size_medium" />
                <EditText
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtWidth"
                    android:hint="Chiều rộng"
                    android:padding="@dimen/padding_edittext"
                    android:background="@color/colorEditText"
                    android:inputType="number"
                    android:textSize="@dimen/text_size_medium"
                    android:gravity="center"
                    android:lines="2" />
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text=" X "
                    android:textSize="@dimen/text_size_medium" />
                <EditText
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:id="@+id/txtHeight"
                    android:hint="Chiều cao"
                    android:padding="@dimen/padding_edittext"
                    android:background="@color/colorEditText"
                    android:inputType="number"
                    android:textSize="@dimen/text_size_medium"
                    android:gravity="center"
                    android:lines="2" />
            </LinearLayout>
            <FrameLayout
                android:minWidth="25px"
                android:minHeight="25px"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/frameLayout1"
                android:layout_marginTop="20dp">
                <EditText
                    android:layout_width="match_parent"
                    android:layout_height="match_parent"
                    android:id="@+id/txtNote"
                    android:hint="Ghi chú"
                    android:layout_marginTop="@dimen/padding_card_horizoltal"
                    android:background="@color/colorEditText"
                    android:drawablePadding="@dimen/padding_card_horizoltal"
                    android:maxLines="3"
                    android:lines="5"
                    android:padding="@dimen/padding_edittext"
                    android:textColor="@android:color/black"
                    android:textColorHint="@android:color/black"
                    android:textSize="@dimen/text_size_medium"
                    android:gravity="top" />
            </FrameLayout>
            <LinearLayout
                android:orientation="horizontal"
                android:layout_width="fill_parent"
                android:layout_height="fill_parent"
                android:layout_marginTop="25dp">
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="wrap_content"
                    android:layout_height="match_parent">
                    <TextView
                        android:text="Quãng đường(km):"
                        android:padding="@dimen/padding_card_horizoltal"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:padding="@dimen/padding_card_horizoltal"
                        android:text="Giá(VNĐ):"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:padding="@dimen/padding_card_horizoltal"
                        android:text="Thời gian ước tính:"
                        android:layout_width="wrap_content"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_size_medium" />
                </LinearLayout>
                <LinearLayout
                    android:orientation="vertical"
                    android:layout_width="fill_parent"
                    android:layout_height="fill_parent">
                    <TextView
                        android:padding="@dimen/padding_card_horizoltal"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginLeft="10dp"
                        android:id="@+id/txtKmuoctinh"
                        android:background="@color/colorEditText"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:padding="@dimen/padding_card_horizoltal"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginLeft="10dp"
                        android:id="@+id/txtCost"
                        android:background="@color/colorEditText"
                        android:layout_marginBottom="10dp" />
                    <TextView
                        android:padding="@dimen/padding_card_horizoltal"
                        android:layout_width="fill_parent"
                        android:layout_height="wrap_content"
                        android:textSize="@dimen/text_size_medium"
                        android:layout_marginLeft="10dp"
                        android:id="@+id/txtSoGio"
                        android:background="@color/colorEditText" />
                </LinearLayout>
            </LinearLayout>
            <Button
                android:text="Đăng đơn"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:id="@+id/btnOrder"
                android:layout_marginLeft="70dp"
                android:layout_marginRight="70dp"
                android:layout_marginTop="20dp"
                android:textColor="@android:color/white"
                android:textSize="@dimen/text_size_normal"
                android:layout_marginBottom="50dp"
                android:background="@color/colorAccent"
                android:stateListAnimator="@null" />
        </LinearLayout>
    </ScrollView>
</LinearLayout>